.jump-links {
  margin: 2em 0;
  > span {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    font-size: 0.9em;
  }
  a,
  a.inactive {
    // font-size: 0.8em;
    text-decoration: none;
    color: $blue;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  a.active {
    font-weight: bold;
    color: $blue;
  }
  a, span {
    &.correct {
      color: rgba(#222, 0.33);
      position: relative;
      .icon {
        position: absolute;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          top: 0px;
          width: 100%;
          text-align: center;
          z-index: 2;
          color: $dark-green;
          opacity: 1;
          font-size: 16px;
        }
      }
    }

    
  }
  
  span.incorrect {
    position: relative;
    display: inline-block;
    color: rgba(#222, 0.33);
    &:before {
      content: 'X';
      position: absolute;
      top: 0;
      left: 0;
      top: -1px;
      width: 100%;
      text-align: center;
      z-index: 2;
      color: $dark-red;
      opacity: 1;
      font-size: 16px;
      font-weight: bold;
    }
  }
}