.percentage {
  display: block;
  overflow: hidden;
  background: #bc2525;
  background: -moz-linear-gradient(left, #bc2525 0%, #e8a02e 30%, #f2de30 62%, #b3d673 100%);
  background: -webkit-linear-gradient(left, #bc2525 0%, #e8a02e 30%, #f2de30 62%, #b3d673 100%);
  background: linear-gradient(to right, #bc2525 0%, #e8a02e 30%, #f2de30 62%, #b3d673 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc2525', endColorstr='#b3d673', GradientType=1);
  position: relative;
  margin-bottom: 2em;
  font-size: .8rem;
  &__value {
    display: block;
    color: #222;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    width: 0;
    overflow: hidden;
  }
  &__mask{
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    background-color: white;
    width: 100%;
    z-index: 0;
  }
}