.question {
  width: 100%;
  overflow: hidden;
  &__text {
    margin-bottom: 1em;
  }
  
  &__choice {
    line-height: 1.5em;
    font-size: 1em;
    @include breakpoint($tablet) {
      font-size: 1em;
      line-height: 30px;
    }
  }
  .correct {
    color: $dark-green;
    font-weight: bold;
  }
  
  .incorrect {
    color: $dark-red;
    font-weight: bold;
  }
  .faded.correct {
    color:rgba($dark-green, 0.5);
  }
  .faded.incorrect {
    color: rgba($dark-red, 0.5);
  }
}