input[type=text], input[type=password], input[type=email] {
  box-sizing : border-box;
  vertical-align: middle;
}

input[type='checkbox'], input[type='radio'] {
  vertical-align: middle;
  margin: 0 5px;
  box-sizing: border-box;
}

input[type='radio'],
input[type='checkbox'] {
  width: 1.15em;
  height: 1.5em;
  @include breakpoint($tablet) {
    width: 1.25em;
    height: 1.75em;
  }
}

input[type='text'] {
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  padding: 0.15em 0.25em;
  @include breakpoint($tablet) {
    font-size: 18px;
    line-height: 32px;
  }
}